.header-text{
    background: #2a2a2a;
    font-size: 32px;
    font-weight: bold;
    padding: 12px;
    color: #fff;
}
.modal{
    display: block;
}
.lable-city{
    font-size: 28px;
    font-weight: bold;
}
.city-dropdown{
    font-size: 28px;
    background: #e6e6e6;
    border-radius: 0;
    border: none;
    border-right: 8px solid #e6e6e6;
}
.weather-box{
    text-align: center;
    width: 20%;
    display: inline-block;
}

.date{
    font-size: 18px;
    font-weight: bold;
    margin: auto;
}

.temp{
    font-size: 18px;
}
.close{
    color: #fff;
    font-size: 40px;
    font-weight: normal;
    opacity: 0.8;
    padding-top: 0.6rem;
}
.apply{
    border-radius: 0;
    font-size: 26px;
    width: 170px;
}
.modal-dialog{
    background: #2a2a2a;
    border: 5px solid #2a2a2a;
}
.modal-body{
    padding: 0 20px;
}
.modal-footer{
    border: none;
}
.modal-content{
    border: none;
}
@media all and (max-width: 900px){
    .weather-box {
        width: 33%;
    }
}

@media all and (max-width: 600px){
    .weather-box {
        width: 50%;
    }
}
@media all and (max-width: 420px){
    .weather-box {
        width: 100%;
    }
}